
@font-face {
  font-family: 'DINMediumAlternate';
  src: url('DINMediumAlternate.eot?#iefix') format('embedded-opentype'),  url('DINMediumAlternate.woff') format('woff'), url('DINMediumAlternate.ttf')  format('truetype'), url('DINMediumAlternate.svg#DINMediumAlternate') format('svg');
  font-weight: normal;
  font-style: normal;
}
